:root {
   --iris: #4D5AE5;
   --ocean: #404BBF;
   --navyblue: #2E2F42;
   --color: #31D0AA;
   --slate: #434455;
   --cornflower: #E7E9FC;
   --cloud: #F4F4FD;
   --white: #FFFFFF;
 }

body {
   font-family: Roboto,sans-serif;
   color: var(--slate);
   background-color: var(--white);
}

a {
   color: currentColor;
}

.link { 
   text-decoration: none;
 } 

 .link:hover {
   color: var(--ocean);
 }

 .link:focus {
   color: var(--ocean);
 }

 .list {   
   list-style: none;
 }

 .visually-hidden {  
   border: 0;   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 .address {
   font-style: normal;
 }
 /* ----------------------header main-------------------------- */

 .header-navigation {
   color: var(--iris);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
text-transform: uppercase;

 }
.header-logo {
   color: var(--iris);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
text-transform: uppercase;;
}

.header-logo-f {
   color: var(--navyblue);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03;
text-transform: uppercase;
}

.header-menu {
   color: var(--navyblue);
/* Body Medium */
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
} 

.header-menu-link {
   color: var(--navyblue);
/* Body Medium */
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.header-menu-link:hover {
   color: var(--ocean);
}

.header-menu-link:focus {
   color: var(--ocean);
}
.header-address {
}
.header-address-item {
}

.header-address-link {
   color: var(--slate);
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* _____________________hero main_________________________ */

.hero {
background-color: var(--navyblue);
}

.hero-title {
   color: var(--white);
   text-align: center;
   /* Header 1 */
   font-size: 56px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.07; /* 107.143% */
   letter-spacing: 0.02em;   
}

.hero-btn {
   color: var(--white);
/* Button Text */
background-color: var(--iris);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
background: var(--iris);
cursor: pointer;
}

.hero-btn:hover {
   background-color: var(--ocean);
}

.hero-btn:focus {
   background-color: var(--ocean);
}

/* ---------------advantages main -------------*/

.advantages {
}
.visually-hidden {
}
.advantages-list {
}
.advantages-list-item {
}

.advantages-subtitle {
   color: var(--navyblue);
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;

}
.advantages-text {
   color: var(--slate);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

/* --------------------made main---------- */

.made {
}

.made-title {
   color: var(--navyblue);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}

.made-list {
}

.made-list-item {
}

/* ---------------team main------------------ */

.team {
   background-color: var(--cloud);
}

.team-title {
   color: var(--navyblue);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-list {
}

.team-list-item {
   background-color: var(--white);
}

.team-list-name {
   color: var(--navyblue);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}

.team-list-profession {
   color: var(--slate);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

/* ---------------footer main--------------------------------- */

.footer {
   color: var(--iris);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17; 
   letter-spacing: 0.03em;
   text-transform: uppercase; 
   background-color: var(--navyblue);  
}

.footer-logo {
   color: var(--iris);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17; 
   letter-spacing: 0.03em;
   text-transform: uppercase; 
   background-color: var(--navyblue);    
}

.footer-logo-f {
   color: var(--cloud);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16; 
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-text {
   color: var(--cloud);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}


/* ----------------PORTFOLIO-------------- */
/* ---------------------------------------- */
/* --------------------------------------- */


/* -----------------------header portfolio-------------------------- */


.header-portfolio {
}
.header-portfolio-navigation {
}
.header-portfolio-logo {
   color: var(--navyblue);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-portfolio-logo-f {
   color: var(--navyblue);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-portfolio-menu {
}

.header-portfolio-menu-item {
}

.header-menu-link {
   color: var(--navyblue);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.header-menu-link:hover {
   color: var(--ocean);
}

.header-menu-link:focus {
   color: var(--ocean);
}

.address {
   font-style: normal;
}

.header-portfolio-address {
   font-style: normal;
}

.header-portfolio-address-item {
}

.header-portfolio-address-link {
   color: var(--slate);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.header-portfolio-address-link:hover {
   color: var(--ocean);
}

.header-portfolio-address-link:focus {
   color: var(--ocean);
}

/* -----------------------filter portfolio--------------------------- */
.filter-button {
   color: var(--iris);
background-color: var(--cloud);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
cursor: pointer;
justify-content: center;
border: 1px solid var(--cornflower);
background: var(--cloud);
}

.filter-button:hover {
   color: var(--white);
   background-color: var(--ocean);
}

.filter-button:focus {
   color: var(--white);
   background-color: var(--ocean);
}
/* -----------------------card portfolio------------------------ */

.card-list {
}

.card-list-item {
   background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.card-list-service {
   color: var(--navyblue);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}

.card-list-app {
   color: var(--slate);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

