body {
   font-family: Roboto,sans-serif;
   color: #434455;
   background-color: #FFF;;
}

a {
   color: currentColor;
}
.link { 
   text-decoration: none;
 } 

 .link:hover {
   color: #404bbf;
 }

 .link:hover {
   color: #404bbf;
 }

 .list {
   list-style-type: none;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 .address {
   font-style: normal;
 }

.header-logo {
   color: var(--navyblue, #2E2F42);
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo-color {
   color:var(--iris, #4D5AE5);
}

.header-menu-link {
   color: var(--navyblue, #2E2F42);
/* Body Medium */
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.header-menu-link:hover {
   color: #404bbf;
}

.header-menu-link:focus {
   color: #404bbf;
}
.header-address {
}
.header-address-item {
}
.list {
}

.header-address-link {
   color: var(--slate, #434455);
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}
.link {
}

/* _____________________Section 1_________________________ */

.hero {
background-color: var(--navyblue, #2E2F42);
}



.hero-title {
   color: var(--white, #FFF);
   text-align: center;
   /* Header 1 */
   font-size: 56px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.07; /* 107.143% */
   letter-spacing: 0.02em;   
}
.hero-btn {
   color: var(--white, #FFF);
/* Button Text */
background-color: #4D5AE5;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
.hero-btn:hover {
   background-color: #404bbf;
}
.hero-btn:focus {
   background-color: #404bbf;
}

/* ---------------ADVANTAGES -------------*/

.advantages {
}
.visually-hidden {
}
.advantages-list {
}
.advantages-list-item {
}
.list {
}
.advantages-subtitle {
   color: var(--navyblue, #2E2F42);
/* Header 3 */
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}
.advantages-text {
   color: var(--slate, #434455);
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* --------------------MADE---------- */

.made {
}
.made-title {
   color: var(--navyblue, #2E2F42);
text-align: center;
/* Header 2 */
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.made-list {
}
.made-list-item {
}
.list {
}

/* ---------------TEAM------------------ */

.team {
   background-color: #F4F4FD;
}

.team-title {
   color: var(--navyblue, #2E2F42);
text-align: center;
/* Header 2 */
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-list {
}
.team-list-item {
   background-color: #FFFFFF;
}
.list {
}
.team-list-name {
   color: var(--navyblue, #2E2F42);
text-align: center;
/* Header 3 */
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}
.team-list-profession {
   color: var(--slate, #434455);
text-align: center;
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* --------------FOOTER-------------------- */
.footer {
   background-color: var(--navyblue, #2E2F42);
}
.footer-logo-1 {
   color: var(--iris, #4d5ae5);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}
.link {
}
.footer-logo-2 {
   color: var(--cloud, #F4F4FD);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-text {
   color: var(--cloud, #F4F4FD);
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}


/* ----------------PORTFOLIO-------------- */
/* ---------------------------------------- */
/* --------------------------------------- */


.header-portfolio {
}
.header-portfolio-navigation {
}
.header-portfolio-logo {
   color: var(--navyblue, #2E2F42);
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
text-transform: uppercase;
}
.link {
}
.header-portfolio-logo-color {
   color: #4D5AE5;
}
.header-portfolio-menu {
   
}
.header-portfolio-menu-item {
}
.list {
}
/* .header-portfolio-menu-link {
   color: var(--navyblue, #2E2F42);
/* Body Medium */
/* font-family: Roboto; */
/* font-size: 16px; */
/* font-style: normal; */
/* font-weight: 500; */
/* line-height: 1.5; 150% */
/* letter-spacing: 0.02em; */

/* .header-portfolio-menu-link:hover { */
   /* color: #404bbf; */
/* } */

/* .header-portfolio-menu-link:focus { */
   /* color: #404bbf; */
/* } */ 
/* } */
.header-portfolio-address {
}
.header-portfolio-address-item {
}
.header-portfolio-address-link {
   color: var(--slate, #434455);
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* -------------------------------filter---------------------- */

.filter {
}
.filter-button {
   color: var(--white, #FFF);
text-align: center;
/* Button Text */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
}

/* -----------------------------------card1------------------------ */

.card-1 {
}
.card-1-list {
}
.card-1-list-item {
}
.card-1-list-service {
   color: var(--navyblue, #2E2F42);
/* Header 3 */
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}
.card-1-list-app {
   color: var(--slate, #434455);

/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* ------------------------------------card2------------------- */

.card-2 {
}
.card-2-list {
}
.card-2-list-item {
}
.card-2-list-service {
   color: var(--navyblue, #2E2F42);
/* Header 3 */
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}
.card-2-list-app {
   color: var(--slate, #434455);

/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* ------------------------------------card3--------------------- */

.card-3 {
}
.card-3-list {
}
.card-3-list-item {
}
.card-3-list-service {
   color: var(--navyblue, #2E2F42);
/* Header 3 */
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}
.card-3-list-app {
   color: var(--slate, #434455);

/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/* --------------------------------footer----------------------- */

.footer-portfolio {
   background-color: var(--navyblue, #2E2F42);
}
.footer-portfolio-logo {
color: var(--cloud, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
   
}
.link {
}
.footer-portfolio-logo-color {
color: var(--iris, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-portfolio-text {
   color: var(--cloud, #F4F4FD);
/* Body */
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}